# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
api2/node_modules
client/node_modules
/.pnp
.pnp.js

api2/package-lock.json
client/package-lock.json
# misc
.env
api2/.env
client/.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

