.body {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;
  }
.titlecards{
    font-size:1.5vw;
    text-align: center;
    color: #878BD9;
    font-weight: bold;
}
/* .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 50px 0;
    
  } */
  .card{
    background-color: #FEA166;
    margin:auto;
    box-shadow: 0 0 1rem rgba(128, 128, 128, 0.3);
    width: 400px;
    height: 360px; 
    border-radius: 20px;
    margin-top: 40px;
}
  .img{
    border-radius:10px;
    width: 480px;
    height: 330px;
    object-fit:cover;
    margin-top: -40px;
  }