.body {
    justify-content: center;
    align-items: center;
    
    margin: 3vw;
  }
.titlecards{
    font-size:1.5vw;
    text-align: center;
    color: #878BD9;
    font-weight: bold;
}

  .card{
    background-color: #ffffff;
    box-shadow: 0 0 1rem rgba(128, 128, 128, 0.3);
    width: 400px;
    height: 360px; 
    border-radius: 10px;
    
}
  .img{
    border-radius:10px;
    width: 480px;
    height: 330px;
    object-fit:cover;
    margin-top: -40px;
  }