.fondocard{
    width: 10vw;
    background-color: aquamarine;
    
    
    
}

.card-style {
    background-color: rgb(252, 242, 231);
    margin: 0.9vw;
    border-radius: 20px;
    width: 20vw;
    border: gray;
    display: flex;
    flex-direction: column;
    min-height: 24vw;
    text-align: center;
    height: fit-content;
    padding: 2vw;
    box-shadow: 1px 1px 8px rgb(201, 201, 201);
    line-height: 2vw;
    flex-wrap: wrap;   
    
}

.span-card {
    font-weight: 900;
}
.status-card {
    background-color: rgb(243, 233, 142);
    border-radius: 15px;
    text-transform: uppercase;
    margin-bottom: 1vw;
    font-size: 1vw;
    
}
.linea-card{
    height: 0.1vw;
    width: 6vw;
    background-color: rgb(255, 204, 127);
    align-self: center;
    margin-top: 0.2vw;
    
}
.name-card{
    font-size: 1vw;
}
.country-card{
    font-size: 1vw;
}

.Aceptar{
    background-color: rgb(117, 197, 117);
    margin: 1vw;
    width: auto;
}

.Rechazar{
    background-color: rgb(248, 110, 110);
    margin: 0.1vw 1vw 0.1vw 1vw;
    width: auto;
    
}