.proyectocontainer{
    padding: 10vw 5vw 1vw 5vw;
    background-color: #F1EEDE;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
}
.tittleforo22{
    font-size: 3vw;
    margin-bottom: 0.5vw;
}
.foroPortada-line22{
    background: #f17a09;
    height: 0.2vw;
    width: 12vw; 
    
}

.contenedor-22{
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
}
.btnbuscar{
    width: 150px;
    height: 3vw; 
    border-radius:20px;
    justify-content:center;
    align-items:center;
    align-content: center;
    display:fixed;
    font-size: 25px;
    color: #878BD9;
    font-weight: bold;
    color: black;
    margin: 1vw;
}
.inputbusqueda{
    /* border:  1px solid #C4C4C4; */
    background-color: #FFFFFF;
    box-shadow: 0 0 1rem rgba(128, 128, 128, 0.3);
    background-color:  #FFFFFF;
    text-align:center;
    border-radius: 20px;
    width: 500px;
    height: 3vw; 
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;  
    align-self: center;
    border: none;

}

.container-busqueda22{
    display: flex;
    justify-content: center;
    
    align-content: center;
    padding: 2vw;

}