.pagelugarseguro{
    font-family: Montserrat;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
} 
.btnainput{
    border:  1px solid #FEA166;
    background-color: #FEA166;
    width: 388px;
    height: 52px; 
    border-radius:20px;
    margin-top: 20px;
    justify-content:center;
    align-items:center;
    align-content: center;
    display:fixed;
    font-size: 25px;
}

.parrafo {
    align-self: center;
    font-size: 1.05vw;
    text-align: center;
    padding: 1vw;
    line-height: 2.5vw;
    background-color: #F1EEDE;
}

.back {
    background-color: #F1EEDE;
}

.titleLS {
    font-size: 50px;
    font-family: Montserrat;
}