Map {
    z-index: -1;
}

.pagelugarseguro{
    font-family: Montserrat;
    justify-content: center;
    text-align: center;
    padding-top: 22vw;
    display: flex;
    flex-direction: column;
    height: 150vh;
    background-color: #F1EEDE;
    padding-bottom: 10vw;
    
} 
.btnainput{
    background-color: #FEA166;
    z-index: 10;
    position: absolute;
    top: 400px;
    left: 80vw;
    width: fit-content;
    padding: 0.5vw;

}

.parrafo {
    align-self: center;
    font-size: 1.05vw;
    text-align: center;
    padding: 1vw;
    line-height: 2.5vw;
    background-color: #F1EEDE;
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.titulo-lugaresseguros {
    font-size: 3vw;
    justify-self: center;
    
    
}

.subtitulo-mapa{
    display: flex;
    font-size: 1.4vw;
    justify-content: center;
    justify-self: center;
}

.subtitulo2{
    justify-self: center;
    font-size: 1.3vw;
    padding: 1vw;

}

.imagen-casa{
    height: 2.5vw;
    margin-left: 1vw;
}


.lugares-line2{
    background: #f17a09;
    height: 0.2vw;
    width: 24vw;
    margin-top: 0;
    align-self: center; 
    margin-bottom: 2vw;
}