.pageregistro{
    font-family: Montserrat;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
} 
.title{
    text-decoration: underline;
    text-decoration-color: #FEA166;
}
.segundoparrafo{

    margin-top: -15px;
    line-height: 24px;
    
}

.rectangulo {
    background-color: #FFFFFF;
    margin:auto;
    box-shadow: 0 0 1rem rgba(128, 128, 128, 0.3);
    width: 700px; 
    height: 820px; 
    border-radius: 20px;
}

.formname{
    border: 1px solid #C4C4C4;
    background-color:  #FFFFFF;
    color: rgb(0, 0, 0);
    transition: 250ms;
    text-align: center;
    border-radius: 20px;
    width: 364px;
    height: 52px;
    margin-top: 40px;
    font-size: 20px;
  
} 
.formlastname{
    border:  1px solid #C4C4C4;
    background-color:  #FFFFFF;
    text-align: center;
    border-radius: 20px;
    width: 364px;
    height: 52px;
    margin-top: 10px;
    font-size: 20px;
}
.formcountry{
    border:  1px solid #C4C4C4;
    background-color:  #FFFFFF;
    text-align: center;
    border-radius: 20px;
    width: 364px;
    height: 52px; 
    margin-top: 10px;
    font-size: 20px;
}
.formtown{
    border:  1px solid #C4C4C4;
    background-color:  #FFFFFF;
    text-align: center;
    border-radius: 20px;
    width: 364px;
    height: 52px; 
    margin-top: 10px;
    font-size: 20px;
}
.formdirection{
    border:  1px solid #C4C4C4;
    background-color:  #FFFFFF;
    text-align: center;
    border-radius: 20px;
    width: 364px;
    height: 52px;
    margin-top: 10px;
    font-size: 20px;    
}
.formmail{
    border:  1px solid #C4C4C4;
    background-color:  #FFFFFF;
    text-align: center;
    border-radius: 20px;
    width: 364px;
    height: 52px;
    margin-top: 10px;
    font-size: 20px;
}
.formtelephone{
    border:  1px solid #C4C4C4;
    background-color:  #FFFFFF;
    text-align: center;
    border-radius: 20px;
    width: 364px;
    height: 52px; 
    margin-top: 10px;
    font-size: 20px;
}
.formkeyword{
    border:  1px solid #C4C4C4;
    background-color:  #FFFFFF;
    text-align: center;
    border-radius: 20px;
    width: 364px;
    height: 52px; 
    margin-top: 10px;
    font-size: 20px;
}
.formrelation{
    border:  1px solid #C4C4C4;
    background-color:  #FFFFFF;
    text-align: center;
  
    border-radius: 20px;
    width: 364px;
    height: 132px;
    margin-top: 10px;
    font-size: 15px;
}
.btninput{
    border:  1px solid #FEA166;
    background-color: #FEA166;
    width: 364px;
    height: 52px; 
    border-radius:20px;
    margin-top: 20px;
    justify-content:center;
    align-items:center;
    align-content: center;
    display:fixed;
    font-size: 25px;
}
