.fondoForo{
    font-family: 'Montserrat';
    height: 40vw;
    background-color: #a1a4db;
    display: flex;
    flex-direction: column;
    padding: 5vw;
}
.tituloForo {
    font-size: 3.5vw;
    color: #4A0E79;  
    /* background-color: darkgreen; */
}
.parrafoForo1{
    align-self: center;
    font-size: 2vw;   
    padding-bottom: 1vw; 
    padding-top: 3vw;
}
.parrafoForo2{
    align-self: center;
    font-size: 1.5vw;
    padding-bottom: 5vw; 
    
}
.parrafoForo3{
    align-self: center;
    font-size: 1.8vw;
    font-weight: bold;
    padding-bottom: 2vw; 
    
}

.link-foro{
    
    background-color: #F1EEDE;
    color: #4A0E79;  
    border-radius: 15px;
    width: 20vw;
    align-self: center;
    padding: 1vw;
    text-align: justify;
    font-size: 1.5vw;
    
}

.foro-line{
    background: #f17a09;
        height: 4px;
        width: 10vw;
        margin-top: 0;
}