.proyectocontainer99{
    padding: 70vw;
    background-color: #F1EEDE;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    background-color: #f17a09;
    margin-top: 20vw;
}
.tittleforo{
    
    text-align: center;
    align-self: center; 
    margin-bottom: 0.5vw;
    padding-top: 10vw;
    
}
.foroNoticias-line{
    background: #f17a09;
    height: 0.2vw;
    width: 8vw;
    margin-top: 0;
    align-self: center; 
    margin-bottom: 2vw;
    margin-left: 575px;
}
.error{
    font-size: 2vw; 
    text-align: center;
}

.inputsearch{
    /* border:  1px solid #C4C4C4; */
    background-color: #FFFFFF;
    box-shadow: 0 0 1rem rgba(128, 128, 128, 0.3);
    background-color:  #FFFFFF;
    text-align:center;
    border-radius: 20px;
    width: 500px;
    height: 35px;
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;  
    align-self: center;
    border: none;
}

.contenedor-error{
    display: flex;
    flex-direction: column;
    padding: 6vw;
    justify-content: center;
}

.boton-buscar{
    align-self: center;
   
    justify-items: center;
}

.btnbuscar{
    background-color: #f08732;
    color: black;
}