.proyectocontainer{
    padding: 1vw 5vw 1vw 5vw;
    background-color: #F1EEDE;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
}
.tittleforo{
    font-size: 3vw;
    text-align: center;
    align-self: center; 
    margin-bottom: 0.5vw;
}
.foroNoticias-line{
    background: #f17a09;
    height: 0.2vw;
    width: 8vw;
    margin-top: 0;
    align-self: center; 
    margin-bottom: 2vw;
    margin-left: 575px;
}
.error{
    font-size: 40px; 
    text-align: center;
}
.btnsearch{
    width: 150px;
    height: 45px; 
    border-radius:20px;
    margin-left: 40px;
    margin-top: 15px;
    justify-content:center;
    align-items:center;
    align-content: center;
    display:fixed;
    font-size: 25px;
    color: #878BD9;
    font-weight: bold;
}
.inputsearch{
    /* border:  1px solid #C4C4C4; */
    background-color: #FFFFFF;
    box-shadow: 0 0 1rem rgba(128, 128, 128, 0.3);
    background-color:  #FFFFFF;
    text-align:center;
    border-radius: 20px;
    width: 500px;
    height: 35px;
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;  
}