.proyectocontainer{
    padding: 1vw 5vw 1vw 5vw;
    background-color: #F1EEDE;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
}
.tituloforo{
    font-size: 3vw;
    text-align: center;
    align-self: center; 
    margin-bottom: 0.5vw;

}
.foroNoticias-line{
    background: #f17a09;
    height: 0.2vw;
    width: 8vw;
    margin-top: 0;
    align-self: center; 
    margin-bottom: 2vw;
}
.imgNotamujeres{
    width: 76vw;
    height: auto;
    align-self: center;
    margin-left: auto; 
    margin-right: auto;
    margin-top: 40px;    
}
.titulonoti{
    font-size: 2vw;
    align-self: center;
 
    margin-bottom: 0.5vw;
    margin-left: 6.5vw;
    font-weight: bold;
}
.date{
    margin-left: 950px;
}
.tittleydate{
    margin-top: 1vw;  
}
.rectangulonoticia {
    background-color: #FFFFFF;
    margin:auto;
    box-shadow: 0 0 1rem rgba(128, 128, 128, 0.3);
    width: 1000px; 
    height: fit-content; 
    border-radius: 20px;
}
.parrafonoti{
    text-align:justify;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-right: 2vw;
 
}
.btnnotianterior{ 
    border:  1px solid #FEA166;
    background-color: #FEA166;
    width: 140px;
    height: 30px; 
    border-radius:20px;
    margin-left: 50px;
    margin-top: 20px;
    justify-content:center;
    align-items:center;
    align-content: center;
    display:fixed;
    font-size: 14px;
   

}
.btnnotisiguiente{
    border:  1px solid #FEA166;
    background-color: #FEA166;
    width: 140px;
    height: 30px; 
    border-radius:20px;
    margin-left: 725px;
    margin-top: 20px;
    justify-content:center;
    align-items:center;
    align-content: center;
    display:fixed;
    font-size: 14px;
}
.comentariosforo{
    font-weight: bold;
    font-size: 2vw;
    color: #4A0E79;
    text-align:start;
    margin-right: 800px;
    margin-top: 40px;
    align-self: center; 
    margin-bottom: 0.5vw;  
} 
.inputcomentario{
    /* border:  1px solid #C4C4C4; */
    background-color: #FFFFFF;
    box-shadow: 0 0 1rem rgba(128, 128, 128, 0.3);
    background-color:  #FFFFFF;
    text-align:center;
    border-radius: 20px;
    width: 850px;
    height: 80px;
    margin-left: 140px;
    margin-top: 10px;
    font-size: 20px;  
}
.btnenviarcomentario{
    border:  1px solid #FEA166;
    background-color: #FEA166;
    width: 150px;
    height: 45px; 
    border-radius:20px;
    margin-left: 830px;
    margin-top: 15px;
    justify-content:center;
    align-items:center;
    align-content: center;
    display:fixed;
    font-size: 14px;
}
.inputpalabra{
    background-color: #FFFFFF;
    box-shadow: 0 0 1rem rgba(128, 128, 128, 0.3);
    background-color:  #FFFFFF;
    text-align:center;
    border-radius: 20px;
    width: 180px;
    height: 30px; 
    margin-left: 140px;
    margin-top: 10px;
    font-size: 12px;  
}
.inputfecha{
    background-color: #FFFFFF;
    box-shadow: 0 0 1rem rgba(128, 128, 128, 0.3);
    background-color:  #FFFFFF;
    text-align:center;
    border-radius: 20px;
    width: 180px;
    height: 30px; 
    margin-left: 140px;
    margin-top: 10px;
    font-size: 12px; 
}
.btnmascomentarios{
    border:  1px solid #FEA166;
    background-color: #FEA166;
    width: 190px;
    height: 30px; 
    border-radius:20px;
    display:fixed;
    font-size: 14px;
}