.card-style-salud {
   background-color: #FFFFFF;
    filter:alpha(opacity=70);
    margin: 0.9vw;
    margin-top: 29px;
    border-radius: 20px;
    width: 20vw;
    border: gray;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: fit-content;
    padding: 2vw;
    box-shadow: 1px 1px 8px rgb(201, 201, 201);
    line-height: 2vw;
    flex-wrap: wrap;   
    position: relative;
}
.linea-card{
    height: 0.1vw;
    width: 6vw;
    background-color: rgb(255, 204, 127);
    align-self: center;
    margin-top: 0.2vw;
    
}
.salud-name{
    color: #878BD9;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
}
.profession-card{
    color: #4A0E79;
    font-weight: bold;
    margin-top: 5px;
    font-size: 1.2vw;
    text-align: center;
}

.matricula-card{
    font-size: 1vw;
    color: #4A0E79;
}
.iconosalud{
    width: 90px;
    height: 90px;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: auto;
}