.pcsalud{
    padding: 10vw 5vw 1vw 5vw;
    background-color: #F1EEDE;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
}
.titulo-salud{
    font-size: 3vw;
    text-align: center;
    align-self: center; 
    margin-bottom: 0.5vw;

}
.search-line{
    background: #f17a09;
    height: 0.2vw;
    width: 25vw;
    margin-top: 0;
    align-self: center; 
    margin-bottom: 2vw;
}
.selectsalud{
    border: 1px solid #C4C4C4;
    background-color:  #FFFFFF;
    transition: 250ms;
    text-align-last: center;
    border-radius: 20px;
    width: 400px;
    height: 52px;
    margin-top: 40px;
    margin-left: 30px;
    font-size: 20px; 
    color: #a09e9e;
}

.btnregistrosalud{
    border:  1px solid #FEA166;
    background-color: #FEA166;
    color: #4A0E79;
    width: 450px;
    height: 52px; 
    border-radius:20px;
    margin-top: 20px;
    margin-left: 40px;
    align-content: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.home-salud {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow-y: scroll;
    max-height: 30vw;
  }
