.usuario-card{
    display: flex;
    margin: 4vw;
    background-color: rgb(253, 253, 253);
    justify-content: space-between;
    border-radius: 10px;
}

.name-user{
    margin: 1vw;

}

.role-user{
    margin: 1vw;

}

.boton-convertir{
    margin: 1vw;
}
.boton-convertir2{
    background-color: rgba(253, 209, 128, 0.788);
    border-radius: 8px;
    padding: 0.4vw;
    width: fit-content;
    
}
.boton-convertir2:hover{
    background-color: rgba(253, 232, 191, 0.959);
    
    
}