.usuarios-background{
    background-color: #F1EEDE;
}

.fondo-principal-usuarios{
    background-color: #F1EEDE;
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
}
.titulo-administrar{
    background-color: #F1EEDE;
    align-self: center;
    font-size: 2vw;



}