.card {
    margin: 490px;
    width: 335px;
    margin-top: 75px;
    display: center;
    border-radius: 15px;
    box-shadow: 3px 10px 5px rgb(43, 42, 42);
    
  }
  
  
  .LoginForm{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: left;
      margin: 2rem auto;
    }
    
    .Registration {
      text-decoration: none;
      text-align: center;
    }
    
    .FormInput{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0.5rem 0;
      border-radius: 10px;
      text-align: left !important;
    }
    
    .FormInput input{
      width: 80%;
      margin: 1rem 0;
      border-radius: 10px;
      padding: 0.5rem 0.75rem;
      border-color: gray;
    }
    
    .FormInput button {
      padding: 0.5rem 2rem;
      border-radius: 10px;
      border-color: gray;
      
    }
    
    .RegisterButton {
      padding: 0.5rem 0.75rem;
      margin: 1rem 0;
      border-radius: 10px;
    }
    
    .danger {
      color: rgb(210, 40, 40);
    }
    