

.fondo-registrate{
  background-color: #F1EEDE;
  font-family: Montserrat;
  display: flex;
  flex-direction: column;
  padding-top: 10vw;
  justify-content: center;
  padding-bottom: 5vw;
}
.line-registrate{
  background: #f17a09;
    height: 0.1vw;
    width: 11vw;
    align-self: center;
    margin-bottom: 2vw;
    margin-left: 40px;

}

.txtRegistrate {
  font-family: Montserrat;
  font-size: 35px;
  align-self: center;
  margin-left: 40px;
}

body {
  font-family: Montserrat;
  font-weight: 100;
  background-color: #F1EEDE;
}
  
.regis-form {
  justify-content: center;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 1rem rgba(128, 128, 128, 0.3);
  width: 450px;
  height: 480px;
  border-radius: 20px;
}

.card {
  align-self: center;
}

.p3 {
  /* margin-left: 200px; */
  background-color:rgb(255, 255, 255);
  /* margin-top: 100px; */
  display: flex;
  justify-content: center;
  border-radius: 90px;
  margin-top: 30px;
}

.reg-username {
  background: rgba(200, 200, 200, 0.253);
  border: 0 solid;
  color: rgb(0, 0, 0);
  transition: 250ms;
  width: 250px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  margin-left: 100px;
  text-align: center;
}

.p4 {
  /* margin-left: 185px; */
  display: flex;
  justify-content: center;
  background-color:rgb(255, 255, 255);
  margin-top: 35px;
}

.reg-email {
  background: rgba(200, 200, 200, 0.253);
  border: 0 solid;
  color: rgb(0, 0, 0);
  transition: 250ms;
  width: 250px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  margin-left: 100px;
  text-align: center;
}

.p5 {
  /* margin-left: 185px; */
  display: flex;
  justify-content: center;
  background-color:rgb(255, 255, 255);
  margin-top: 35px;
}

.reg-password {
  background: rgba(200, 200, 200, 0.253);
  border: 0 solid;
  color: rgb(0, 0, 0);
  transition: 250ms;
  width: 250px;
  height: 35px;
  border-radius: 20px;
  display: flex;
  margin-top: 10px;
  margin-left: 100px;
  text-align: center;
}

.reg-submit {
  background-color: #FEA166;
  color: rgb(0, 0, 0);
  transition: 250ms;
  box-shadow: #494441b2;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  font-family: Montserrat;
  font-size:17px;
  font-weight: bold;
  border-color: transparent;
  margin-top: 30px;
  margin-left: 150px;
}

.reg-username:hover {
  transform: scale(1.10);
}

.reg-email:hover {
  transform: scale(1.10);
}

.reg-password:hover {
  transform: scale(1.10);
}

.reg-submit:hover {
  transform: scale(1.10);
}