.conteinerImg {
    display: flex;
    height: 50vw;
    flex-direction: column;
    /* background-color: coral; */
    background-color: #F1EEDE;
    z-index: -1;
    padding: 2vw 5vw 3vw 5vw;
    
}

.imgMujeres {
   /*  background-color: chartreuse; */
    width: 75vw;
    height: auto;
    align-self: center;
    
    
}

.textS {
    
    font-family: Raleway;
    font-size: 5vw;

}

